*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
::-webkit-scrollbar {
    display: none;
}
/*Custom Variable */
:root {
    --primary: rgb(248, 165, 179) ;
    --secondary: white;
    --alternative: black;
    --tertiary: maroon;
    --awesome: rgb(232, 37, 37);
    --mainBox-shadow: black;
    --card-box-shadow:var(--primary);
    --text-shadow:var(--primary);
    --mainBg:var(--primary);
}
@property --top-left {
    syntax:"<percentage>";
    inherits: false;
    initial-value:50%;
}
@property --top-right{
    syntax: "<Percentage>";
    inherits: false;
    initial-value:50%;
}
@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}
@property --bottom-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}

/*Navbar & footer*/
:is(.navbar, footer){
    background-color: var(--tertiary);
}

/* Navbar */
:is(.nav-link) {
    color: var(--secondary); 
}

img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1/1; /*maintain the height based on the width*/
    object-fit: cover;
    object-position: center;
    
}



/*Grid Layout*/
:is(body) {
    text-align: center;
    background-color: var(--primary);
    font-family: "Tiro Devanagari Hindi", serif;
}

/*Create three rows*/
:is(body) {
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* Navbar */
a { 
   transition: all .5s;

   &:hover {
    transform: scale(1.2);
    text-decoration: underline;

   }
}


:is(#about, #resume, #skills, #projects, #testimonials, #contactinfo){
    margin-block: 5rem;
}
.display-2{
    font-weight: bold;
    font-size: 2rem;
}

/* Home Image */
img[alt='profile'] {
    width: 25rem;
    border-color: var(--tertiary);
    border-radius: 20%;
}


.lead {
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
    font-size: 3rem;
    /* line-height: 25rem; */

}

.slogan{
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
    font-size: 2rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Animation */
.image-1 {
    overflow: hidden;
  }
  
  .image-1{
    opacity: 0; 
    animation: fadeInLeft 1s forwards; 
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hero-text {
    overflow: hidden; /
  }
  
  .hero-text p {
    opacity: 0; 
    animation: fadeInRight 1s forwards; 
    
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .home-1 {
    opacity: 0; 
    animation: fadeInTop 1s forwards; 
  }
  
  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100%); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* About */
.card {
    background-color: var(--tertiary)
}

.cardAbout{
            width: 900px;
}
/* About text */
.card-text{
    color: var(--secondary);
    font-size: 2rem;
}
/* Resume */

:is(.cardRes, .cardRes3, .cardRes1, .cardRes4) {
    background-color: var(--tertiary);
    height: 15rem;
}
.Spine-text {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 9rem;
    box-shadow: inset .1rem .1rem .2rem #b16f84;
}

.Skills-text{
    text-align: left;
}

/* Testimonial */

img[alt='profile1'] {
   width: 15rem;
   border-radius: 50%;
   margin-left: 10rem;
   position: relative;
   top: 10px;
    
}

img[alt="profile1 joel"] {
width: 20rem;
border-radius: 50%;
margin-left: 7rem;
position: relative;
top: 10px;
}
@media only screen and (max-width: 767px) {
    img[alt='profile1']  {
        width: 100%; 
        margin-left: 0; 
}

}

@media only screen and (max-width: 767px) {
    img[alt='profile1 joel']  {
        width: 100%; 
        margin-left: 0; 
}

}

.Testi-block{
    width: 35rem;
    margin-left: 23rem
}

@media only screen and (max-width: 767px) {
    .Testi-block {
        width: 100%;
        margin-left: 0; 
    }
}

.Testi-text{
    text-align: center;
    width: 15rem;
    margin-left: 9.5rem;

}

.Shake-text{
    width: 25rem;
   margin-left: 4rem;
}

@media only screen and (max-width: 767px) {
    .Testi-text {
        width: 100%;
        margin-left: 0; 
    }
}

/* Projects */
.scrollable {
    width: 40rem; 
    height: 300px; 
    margin-left: 22rem;
    height: 23rem;
    overflow-y: auto; 
    scrollbar-width: thin; 
    
  }

  @media only screen and (max-width: 767px) {
    .scrollable {
        width: 100%;
        margin-left: 0; 
    }
}
  
  .scrollable::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollable::-webkit-scrollbar-thumb:hover {
    background-color: gray; 
  }
  
  img[alt='profile2']{
    width: 25rem;
    margin-left: 6rem;
    margin-block: 1rem;
  }

  @media only screen and (max-width: 767px) {
    img[alt='profile2'] {
        width: 100%;
        margin-left: 0; 
    }
}

.Proj-block{
    margin-block: 2rem;
}
  .card-link{
    color: var(--alternative);
    background-color: var(--primary);
    font-size: larger;
    font-weight: bold;
    border-radius: 10%;
  }

  @media only screen and (max-width: 767px) {
    .card-link {
        width: 100%;
        margin-left: 0; 
    }
}

  img[alt='profile2 key1']{
    width: 37rem;
    margin-block: 1rem;
  }

  img[alt='profile2 flip1']{
    width: 20rem;
    height: 20rem;
    margin-left: 9rem;
  }

  @media only screen and (max-width: 767px){
    img[alt='profile2 flip1'] {
        width: 100%;
        margin-left: 0; 
    }
  }


.proj-text{
    color:var(--secondary);
    font-weight: bold;
    
}

/* Contact Info */

.Contact-text{
    font-weight: bold;
    font-size: 2rem;
    
}

.mb-3{
    width: 30rem;
    margin-left: 25rem;
}
.message{
    height: 20rem;
}

@media only screen and (max-width: 767px) {
    .mb-3 {
        width: 100%;
        margin-left: 0; 
    }
}

