*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
::-webkit-scrollbar {
    display: none;
}
/*Custom Variable */
:root {
    --primary: rgb(248, 165, 179) ;
    --secondary: white;
    --alternative: black;
    --tertiary: maroon;
    --awesome: aqua;
    --mainBox-shadow: black;
    --card-box-shadow:var(--primary);
    --text-shadow:var(--primary);
    --mainBg:var(--primary);
}
@property --top-left {
    syntax:"<percentage>";
    inherits: false;
    initial-value:50%;
}
@property --top-right{
    syntax: "<Percentage>";
    inherits: false;
    initial-value:50%;
}
@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}
@property --bottom-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}
/*Navbar & footer*/
:is(.navbar, footer){
    background-color: var(--tertiary);
}

/* Navbar */
:is(.nav-link) {
    color: var(--secondary);
}

img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1/1; /*maintain the height based on the width*/
    object-fit: cover;
    object-position: center;
    
}


/*Grid Layout*/
:is(body) {
    text-align: center;
    background-color: var(--primary);
    font-family: 
}

/*Create three rows*/
:is(body) {
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* Navbar */
a { 
   transition: all .5s;

   &:hover {
    transform: scale(1.2);
    text-decoration: underline;
   }
}
.display-2{
    font-weight: bold;
    font-size: 3rem;
}

/* Home Image */
img[alt='profile'] {
    width: 25rem;
    margin-right: 150px;
}

.lead {
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
    font-size: 4rem;
    /* line-height: 25rem; */

}

.slogan{
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
    font-size: 2rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* About */
.card {
    width: 800px;
    margin-left: 300px;
    background-color: var(--tertiary)
}

/* About text */
.card-text{
    color: var(--secondary);
}






